body /* настройки для области body */
{
	font-family: sans-serif;
	background-color: #F0FFF0;
}

#header /* настройки для области header, созданной искусственно */
{
	background-color: #F0FFF0;
	height: 30px;
	border: 1px solid #111;
	min-width: 1280px;
	text-align: center;
	padding­top: 18px;
	margin: 20 auto;
}

#header #selected
{
	color: #000;
}

#header a
{
	font-family: cursive;
	color: #4f4f4f;
	font-size: 20px;
	font-weight: 200px;
	text-align: left;
	text-decoration-style: none;
	line-height: 30px;
	display: inline-block;
}

#header span
{
	padding: 20px;
}

#main_body
{
	width: 1400px;
	margin: 0 auto;
}

#main_body h1
{
	color: #4a4a4a;
	text-align: center;
	font-size: 40px;
	font-family: sans-serif;
	font-style: italic;
	font-variant: normal;
	font-weight: 200px;
	font-stretch: expanded;
}

#main_body image
{
	margin-left: 40px;
}

#main_body a
{
	color: inherit;
}

#main_body #main_text
{
	background-color: #FFF8DC;
	float: right;
	width: 1000px;
	height: 275px;
}

#main_body #main_text p
{
	line-height: 25px;
	text-align: center;
	font-size: 20px;
}

#main_body #main_text a
{
	color: inherit;
}

#footer
{
	text-align: center;
	font-size: 20px;
	min-width: 1920px;
	background­color: #434445;
	height: 140px;
	margin: 0 auto;
	color: #a4a4a4;
	font­weight: 100;
	line­height: 140px;
}

#footer a
{
	color: inherit;
}

